@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Merriweather+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Merriweather+Sans:wght@700&family=Nunito:wght@300&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kalam', 'Merriweather Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p,
span {
  font-family: 'Nunito', sans-serif;
  font-size: 15px !important;
}

span {
  font-size: 12px !important;
}

.formContainer {
  background-color: bisque;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer .formWrapper {
  background-color: black;
  padding: 20px 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: white;
}

.formContainer .formWrapper .logo {
  color: #5d5b8d;
  font-weight: bold;
  font-size: 24px;
}

.formContainer .formWrapper .title {
  color: white;
  padding: 10px;
  font-size: 32px !important;
  font-weight: bold;
}

.formContainer .formWrapper form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formContainer .formWrapper form input {
  padding: 15px;
  border: none;
  width: 250px;
  border-bottom: 1px solid bisque;
}

.formContainer .formWrapper form input::placeholder {
  color: #afafaf;
}

.formContainer .formWrapper form button {
  background-color: #7b96ec;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.formContainer .formWrapper form label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  cursor: pointer;
}

.formContainer .formWrapper form label img {
  width: 32px;
}

.formContainer .formWrapper p {
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

.formContainer .formWrapper a {
  color: white;
}

.formContainer .formWrapper a:hover {
  color: lightgray;
}

.Profile {
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: bisque;
  align-items: center;
  padding: 10px;
}

.Profile .user {
  gap: 10px;
  width: 100%;
}

.Profile .user button {
  background-color: #809aef;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.Profile button:hover {
  background-color: #758fe7;
}

.home {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home .container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.home .container .container {
  display: flex;
  flex-direction: column;
}

.home .container .Sidebar {
  flex: 0.7;
  background-color: black;
  position: relative;
  min-width: 357px;
  max-width: 357px;
}

.home .container .Sidebar .Navbar {
  display: flex;
  align-items: center;
  background-color: black;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: #ddddf7;
}

.home .container .Sidebar .Navbar .user {
  display: flex;
  gap: 10px;
}

.home .container .Sidebar .Navbar .user img {
  background-color: #ddddf7;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.home .container .Sidebar .Navbar .user span {
  font-size: 18px;
  align-items: center;
  justify-self: center;
}

.home .container .Sidebar .Navbar .user button {
  background-color: #5d5b8d;
  color: #ddddf7;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.home .container .Sidebar .Chats .userChatInfo {
  display: flex;
  align-items: center;
}

.home .container .Sidebar .Chats .userChatInfo span {
  font-size: 17px !important;
  padding-left: 10px;
}

.home .container .Sidebar .Search {
  border-bottom: 1px solid gray;
}

.home .container .Sidebar .Search .searchForm {
  padding: 10px;
}

.home .container .Sidebar .Search .searchForm input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.home .container .Sidebar .Search .searchForm input::placeholder {
  color: lightgray;
}

.home .container .Sidebar .userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  justify-content: start;
  height: 70px;
}

.home .container .Sidebar .userChat:hover {
  background-color: #131313;
}

.home .container .Sidebar .userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.home .container .Sidebar .userChat .userChatInfo span {
  font-size: 18px;
  font-weight: 500;
}

.home .container .Chat {
  flex: 2;
}

.home .container .Chat .chatInfo {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: calc(100vh - 60px);
}

.home .container .Chat .chatInfo .Bar {
  position: absolute;
  z-index: 2;
  left: 357px;
  width: calc(100% - 357px);
  top: 0;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 15px;
}

.home .container .Chat .chatInfo .Bar span {
  padding-left: 10px;
  font-size: 16px !important;
}

.home .container .Chat .chatInfo .Bar img {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.home .container .Chat .chatIcons {
  display: flex;
  gap: 10px;
}

.home .container .Chat .chatIcons img {
  height: 24px;
  cursor: pointer;
}

.home .container .Chat .messages {
  background-color: #ddddf7;
  position: absolute;
  bottom: 60px;
  left: 357px;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  width: calc(100% - 357px);
  white-space: nowrap;
  display: flex;
  display: block;
  flex-direction: column;
  justify-content: flex-end;
  overflow: scroll;
}

.home .container .Chat .messages .message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
}

.home .container .Chat .messages .message .messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
  max-width: 50%;
}

.home .container .Chat .messages .message .messageInfo span {
  color: black;
  font-weight: 400;
  margin: auto;
}

.home .container .Chat .messages .message .messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.home .container .Chat .messages .message .messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home .container .Chat .messages .message .messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

.home .container .Chat .messages .message .messageContent img {
  width: 50%;
}

.home .container .Chat .messages .message.owner {
  flex-direction: row-reverse;
}

.home .container .Chat .messages .message.owner .messageContent {
  align-items: flex-end;
}

.home .container .Chat .messages .message.owner .messageContent p {
  background-color: #809aef;
  color: white;
  border-radius: 10px 0px 10px 10px;
}

.home .container .Chat .messages .message.false span {
  color: black;
  font-weight: 400;
  margin: auto;
  padding-left: 20px;
}

.home .container .Chat .messages .message.false img {
  border-radius: 50% !important;
  padding-left: 20px;
}

.home .container .Chat .input {
  min-height: 50px;
  background-color: black;
  display: flex;
  align-items: center;

}

.home .container .Chat .input input {
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  color: white;
  width: 920px;
}

.home .container .Chat .input .send {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

.home .container .Chat .input .send img {
  height: 24px;
  cursor: pointer;
}

.home .container .Chat .input .send button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #809aef;
  cursor: pointer;
}

.home .container .Chat .input .send button:hover {
  background-color: #5379f6;
}

.gh-login {
  background-color: white;
  outline: none;
  border: none;
  padding: 10px;
  width: 280px;
  cursor: pointer;
}

.gh-logo {
  padding-right: 2px;
  vertical-align: middle;
}

.Welcome {
  top: 220px;
  position: absolute;
  width: calc(100% - 357px);
  text-align: center;
}

.Welcome h2 {
  font-size: 50px;
}

.Welcome p {
  margin-top: -20px;
}

.pageContainer {
  flex: 1;
}

.pageContainer .loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}